name: Automatic Backport
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  get-pr-info:
    name: "Get PR information"
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.pr-info.outputs.branches }}
      commit-sha: ${{ github.sha }}
    steps:
      - name: Get commit SHA
        id: get-sha
        run: echo "COMMIT_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
      - name: Find PR information
        id: pr-info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_DATA=$(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/commits/${GITHUB_SHA}/pulls")
          
          PR_COUNT=$(echo "$PR_DATA" | jq 'length')
          
          if [ "$PR_COUNT" -gt 0 ]; then
            BACKPORT_BRANCHES=$(echo "$PR_DATA" | jq -r '
              .[0].labels
              | map(select(.name | startswith("backport:")))
              | map(.name | sub("backport:"; ""))
              | @json
            ')
            echo "branches=${BACKPORT_BRANCHES}" >> $GITHUB_OUTPUT
          else
            echo "branches=[]" >> $GITHUB_OUTPUT
          fi