name: Automatic Backport
on:
  pull_request_target:
    types: [closed]
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    name: Backport
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Create backport pull requests
        uses: korthout/backport-action@3.4.1
        with:
          label_pattern: '^backport:([^ ]+)$'
          cherry_picking: 'auto'
          copy_assignees: true
          copy_milestone: true
          copy_requested_reviewers: true
          branch_name: "backport-${pull_number}-to-${target_branch}"
          pull_title: "[Backport ${target_branch}] ${pull_title}"
          # Auto merge the backport PR if the 'backport-auto-merge' label is present
          auto_merge_enabled: ${{ contains(github.event.pull_request.labels.*.name, 'backport-auto-merge') }}
