name: Backport Executor
on:
  workflow_dispatch:
    inputs:
      branches:
        description: 'JSON array of branches to backport to'
        required: true
      commit-sha:
        description: 'Commit SHA to backport'
        required: true
  
  workflow_call:
    inputs:
      commit-sha:
        description: "Commit sha to backport."
        required: true
        type: string
      target-branch:
        description: "Target branch to backport."
        required: true
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  backport:
    runs-on: ubuntu-latest
  
    steps:
        - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
          id: checkout-for-backport
          uses: actions/checkout@v4
          with:
            persist-credentials: true
            fetch-depth: 0
        
        - name: Install Python dependencies
          run: |
            python -m pip install --upgrade pip
            python -m pip install cherry-picker==2.6.0 requests==2.32.5
        
        - name: Run backport script
          id: execute-backport
          env:
            GH_AUTH: ${{ secrets.GITHUB_TOKEN }}
            TARGET_BRANCH: ${{ inputs.target-branch }}
            COMMIT_SHA: ${{ inputs.commit-sha }}
          run: |
            git config --global user.email "bot@astronomer.io"
            git config --global user.name "Your friendly bot"

            set +e
            {
            echo 'cherry_picker_output<<EOF'
            cherry_picker ${COMMIT_SHA} ${TARGET_BRANCH}
            echo EOF
            } >> "${GITHUB_OUTPUT}"

          continue-on-error: true
        
        - name: Parse backport output
          id: parse-backport-output
          env:
            CHERRY_PICKER_OUTPUT: ${{ steps.execute-backport.outputs.cherry_picker_output }}
          run: |
            set +e
            echo "${CHERRY_PICKER_OUTPUT}"

            url=$(echo "${CHERRY_PICKER_OUTPUT}" | \
                grep -o 'Backport PR created at https://[^ ]*' | \
                awk '{print $5}')

            url=${url:-"EMPTY"}
            if [ "$url" == "EMPTY" ]; then
              # If the backport failed, abort the workflow
              cherry_picker --abort
            fi
            echo "backport-url=$url" >> "${GITHUB_OUTPUT}"
          continue-on-error: true